<!DOCTYPE html>
<html>
  <head>
    <title>My Guestbook</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <style>
      html { margin: 2% 5% 2% 5% }
    </style>
  </head>
  <body>
    <p>
      <%= flash[:notice] %>
    </p>
    <hr>

    <%= yield %>

  </body>
</html>
